.user {
    height: 80px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.user > a > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
}

.user > a > img:hover {
    border: 2px #FFD7D7 solid;
}

/* */

.post--write {
    margin-top: 10px;
    border-radius: 10px;
}

.post--write > form {
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: row;
}


.post--details {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.post--details--image {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.post--details--image > img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.post--details--action {
    display: flex;
    flex-direction: row;
    width: 150px;
    flex: 1;
}

.post--details--action > button {
    margin-left: 5px;
    margin-right: 5px;
    flex: 1;
}

.post--details--action > button > label {
    color: black;
}

.post--details--action > label {
    text-align: right;
    margin-bottom: 15px;
}


#post--feed {
    padding: 10px;
    border-radius: 10px;
}

#post {
    display: flex;
    padding: 15px;
    box-shadow: 0px 0px 10px 3px #00000038;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    flex-direction: row;
}

.post--user--infos {
    display: flex;
    width: 100px;
    padding: 5px;
}

.post--user--infos > img {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.post--content {
    display: flex;
    color: white;
    width: calc(100% - 100px);
    padding: 5px;
    flex-direction: column;
}

.post--content--infos--image > div > img  {
    width: 250px;
    height: 250px;
}

.post--content--actions {
    margin-top: 15px;
    display: flex;
    justify-content: right;
}

.post--content--actions > span {
    margin-left: 10px;
    cursor: pointer;
}

#voiler {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000007a;
    overflow: hidden;
    display: none;
}

.postEdit {
    width: 700px;
    padding: 35px;
    margin: auto;
    background-color: #4b4d61;
    border-radius: 10px;
    position: relative;
}

.postImage {
    width: 100%;
    margin-top: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.postImage > img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.postImage--action {
    position: absolute;
    margin: auto;
    display: flex;
}

.postImage--action--items {
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.315);
    border-radius: 50%;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.postImage--action--items > i {
    margin : auto;
}
