/* Error/Success Message Box */
.error {
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    color: #842029;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
    display: none;
}

.success {
    background-color: #d1e7dd;
    border: 1px solid #badbcc;
    color: #0f5132;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    display: none;
}



a {
    border: none;
    color: white;
    text-decoration: none;
}

label {
    font-size: 14px;
    color: white;
}

