#post--feed {
    width: 70%;
    margin: auto;
}

.post {
    width: 100%;
    box-shadow: 0px 0px 10px 3px #00000038;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
}

.post--details--user {
    width: 100px;
    height: 100px;
    display: flex;
}

.post--details--user > a {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.post--details--user > a > img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.post--details--content {
    width: calc(100% - 140px);
    padding: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.post--details--content--text {
    color: white;
    padding: 10px;
}

.post--details--content--image {
    padding: 10px;
    height: 150px;
    width: 150px;
}

.post--details--content--image > img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.post--details--content--actions {
    width: 100%;
    display: flex;
    justify-content: right;
    border-top: 1px solid #7e7e7e;
    margin-top: 15px;
}

.post--details--content--actions > span {
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    cursor: pointer;
}

.post--details--comments {
    margin-top: 5px;
    width: 100%;
    display: none;
}

.post--details--comments > div {
    width: 100%;
    padding: 5px;
    display: flex;
}

.post--details--comments > div > form {
    flex: 2
}

.post--details--comments > div > form > input {
    width: 95%;
}
