.lastUser--item {
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    width: 100%;
}

.lastUser--item:hover {
    background-color: #52556b;
}

.lastUser--item:not(:last-child){
    margin-bottom: 10px;
}

.lastUser--item--avatar, .lastUser--item--avatar > a > img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.lastUser--item--name {
    color: white;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}