#Notifications {
    background-color: #4E5166;
    border-top: 1px solid #FFD7D7;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    height: 0%;
    position: fixed;
    width: 230px;
    z-index: 100;
}

.closeNotificationSidebar {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

.closeNotificationSidebar > i {
    cursor: pointer;
}

.notification--item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

.notification--item:hover {
    background-color: #46495c;
    border-right: 1px solid #FFD7D7;
    cursor: pointer;
}

.notification--item--avatar {
    display: flex;
    height: 40px;
    width: 40px;
}

.notification--item--avatar > img {
    border-radius: 70px;
    height: 40px;
    margin: auto;
    width: 40px;
}

.notification--item--content {
    align-items: center;
    display: flex;
    font-size: 13px;
    height: 40px;
    margin-left: 10px;
    width: calc(100% - 40px);
}

.notifyCount {
    background-color: rgb(255, 215, 215);
    border-radius: 100px;
    color: black;
    display: initial;
    font-size: 13px;
    margin-left: 5px;
    padding: 5px;
}

@media (max-width: 1024px) { 
    #Notifications {
        display: none;
        width: 100%;
    }

    .notifyCount {
        margin-left: -5px;
    }
}