#post--feed {
    margin: auto;
}

.post {
    width: 100%;
    border-radius: 10px;
    display: flex;
}

.post--details--user {
    width: 100px;
    display: flex;
}

.post--details--user > a {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.post--details--user > a > .post--details--user--picture > img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.post--details--user--picture:hover > span {
    display: block;
}


.post--details--user--picture {
    display: flex;
    flex-direction: column;
}

.post--details--content {
    width: calc(100% - 140px);
    padding: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: #52556b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 15px;
}

.post--details--content--details {
    display: flex;
    justify-content: space-between;
    color: white;
}

.post--details--content--text {
    color: white;
    margin-top: 15px;
}

.post--details--content--image {
    margin-top: 30px;
    padding: 10px;
}

.post--details--content--image > img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: contain;
}

.post--details--content--actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.post--details--content--actions > span {
    color: white;
    cursor: pointer;
}

.post--details--content--actions > span > i {
    font-size: 20px;
    color: grey;
}

.post--details--content--actions > span > i:hover {
    color: white;
}

.post--details--content--action > span > i.fa-heart:hover {
    color: green;
}

.post--details--comments {
    margin-top: 5px;
    width: 100%;
    display: none;
}

.post--details--comments > div {
    width: 100%;
    padding: 5px;
    display: flex;
}

.post--details--comments > div > form {
    flex: 2
}

.post--details--comments > div > form > input {
    width: 95%;
}

#post--feed--bottom {
    margin: auto;
    margin-top: 15px;
}

#post--feed--bottom > button {
    width: 100%;
}

.post--response {
    margin-top: 15px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: none;
}

.post--response > input {
    flex: 2;
    margin-right: 15px;
    border-radius: 15px;
    outline: none;
    border: none;
}

.post--details--comments--list {
    margin-top: 40px;
    padding: 15px;
    background-color: #4b4d61;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.post--details--comments--list--user {
    width: 80px;
    display: flex;
    justify-content: center;
}

.post--details--comments--list--user > a > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.post--details--comments--list--content {
    width: calc(100% - 80px);
    padding: 10px;
}

.post--edit {
    margin-top: 25px;
    text-align: right;
    font-size: 14px;
    color: white;
}

.post--edit > span {
    cursor: pointer;
}

.post--edit > span:hover {
    border-bottom: 1px white solid;
}

.post--history {
    margin: auto;
    width: 750px;
    padding: 10px;
    background-color: #4b4d61;
    border-radius: 10px;
    max-height: 75%;
    overflow-y: scroll;
    position: relative;
}

.history--item {
    background-color: #52556b;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}

.history--item--text {
    color: white;
}

.history--item--image > img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.history--item--infos {
    margin-top: 15px;
    text-align: right;
    color: white
}