.searchResult {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    width: 100%;
}

.searchResult--item {
    background-color: #4b4d61;
    border-radius: 10pxs;
    box-shadow: 0px 0px 10px 3px #00000038;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    width: calc(100vh / 4);
}

.searchResult--item--cover > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 120px;
    object-fit: cover;
    width: 100%;
}

.searchResult--item--avatar {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    width: 100%;
}

.searchResult--item--avatar > img {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #00000038;
    height: 50px;
    width: 50px;
}

.searchResult--item--infos{
    color: whites;
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 850px) { 
    .searchResult {
        box-sizing: border-box;
        display: block;
        padding: 5px;
        width: 100%;
    }

    .searchResult > a {
        width: calc(100% / 2); 
        
    }

    .searchResult--item{
        border-radius: 10px;
        box-sizing: border-box;
        flex: 1;
        margin: 5px;
        width: initial;
    }
}